ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
*.mcap
*.bag
my_slam_dataset/

basalt/cmake-build*
basalt/.idea
basalt/CMakeLists.txt.user
basalt/build*
basalt/scripts/eval/eval_*
basalt/scripts/eval_full/eval_*
basalt/stats_*.*json
basalt/__pycache__*.bag

sphere-stereo/.venv

*.pptx
*.zip